<p>
  <b>Nombre consola:</b>
  <%=h @consola.nombre_consola %>
</p>

<p>
  <b>Compania consola:</b>
  <%=h @consola.compania_consola %>
</p>


<%= link_to 'Edit', edit_consola_path(@consola) %> |
<%= link_to 'Back', consolas_path %>